@font-face {
    font-family: "Open Sans";
    font-weight: normal;
    font-style: normal;
    src: url(/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "Open Sans";
    font-weight: bold;
    font-style: normal;
    src: url(/fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: "Open Sans";
    font-weight: normal;
    font-style: italic;
    src: url(/fonts/OpenSans-Italic.ttf);
}

@font-face {
    font-family: "Uni Sans";
    font-weight: bold;
    font-style: italic;
    src: url(/fonts/UniSansBoldItalic.otf);
}

* {
    -cor-nav-color: #d81e05;
    -cor-button-color: #26a514;
    -cor-button-hover-color: #1e8410;
}

.root {
    -fx-font-size: 9pt;
    -fx-font-family: 'Open Sans', sans-serif;
    -fx-font-smoothing-type: gray;

    CHART_COLOR_1: #57b757;
    CHART_COLOR_2: #fba71b;
    CHART_COLOR_3: #f3622d;
    CHART_COLOR_4: CHART_COLOR_1;
    CHART_COLOR_5: CHART_COLOR_2;
    CHART_COLOR_6: CHART_COLOR_3;
}

.action_button,
VBox > Button,
AnchorPane > Button {
    -fx-background-color: -cor-button-color;
    -fx-font-family: "Uni Sans";
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-font-size: 1.10em;
    -fx-text-fill: #fff;
}

.action_button:hover,
VBox > Button:hover,
AnchorPane > Button:hover {
    -fx-background-color: -cor-button-hover-color;
}

.menu_button {
    -fx-padding: 8 0;
    -fx-font-size: 2.0em;
}

#currentUserLabel {
    -fx-font-size: 1.10em;
}

AnchorPane,
GridPane {
    -fx-background-color: white;
}

.combo-box-base.error {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, red, -fx-body-color;
}

.combo-box-base.error:focused {
    -fx-background-color: #d30000, -fx-inner-border, -fx-body-color, #d3000022, -fx-body-color;
}

PasswordField.error,
TextField.error {
    -fx-text-box-border: red;
    -fx-focus-color: red;
}

Label.error {
    -fx-text-fill: red;
}

.white_background {
    -fx-background-color: white;
}

.link {
    -fx-text-fill: #0000EE;
    -fx-underline: true;
    -fx-text-alignment: left;
}

.rowHeader {
    -fx-font-family: "Open Sans";
    -fx-font-weight: bold;
    -fx-font-size: 12;
}

bread-crumb-bar {
    -fx-background-color: transparent;
    -fx-pref-height: 25px;
}

.bread-crumb-bar .button {
    -fx-font-size: 1.11em;
    -fx-padding: 4 12 4 12;
    -fx-border-insets: 0;
    -fx-content-display: left;
    -fx-background-position: left center;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("/images/slash.png");
    -fx-background-size: contain;
    -fx-background-color: transparent;
    -fx-shape: null;
}

.bread-crumb-bar .first {
    -fx-padding: 4 12 4 0;
    -fx-background-image: null;
}

.crumb {
    -fx-font-size: 1.11em;
    -fx-text-fill: #000;
}

.crumb:hover,
.crumb:selected,
.crumb:focused {
    -fx-font-size: 1.11em;
    -fx-text-fill: -cor-nav-color;
}
